/* section, div, p{
    border: 2px solid;
    padding: 50px;
} */

/* #container{
    width: 400px;
    height: 400px;
    background: yellow;
    position: relative;
}
#animate{
    width: 50px;
    height: 50px;
    background: green;
    position: absolute;
} */

/* .active{
    border: 5px solid green;
}
.alert{
    border: 5px solid red;
}
.hidden{
    display: none;
    background-color: yellow;
} */

/* body{
    padding: 30px;
    height: 100vh;
    box-sizing: border-box;
}

.brush{
    position: fixed;
    width: 40px;
    height: 40px;
    translate: -50% -50%;
    border: 2px solid black;
    border-radius: 50%;
    z-index: 2;    
}

.paint{
    position: fixed;
    width: 40px;
    height: 40px;
    translate: -50% -50%;
    background: green;
    border-radius: 50%;
    z-index: 1;
} */

/* .red {
    border: 2px solid red;
    background: #ffcccc;
}

.green {
    border: 2px solid #00aa00;
    background: #ddffdd;
}

p {
    padding: 10px 20px;
    border-radius: 6px;
} */

/* .cities{
    display: none;
}

.cities.active{
    display: inline-block;
} */

/* #modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
} */

/* #root {
    box-sizing: border-box;
    width: 300px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    margin: 200px auto;
} */

/* section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

div{
    border: 2px solid;
    padding: 20px;
    margin-bottom: 20px;
} */