html,
body {
	padding: 0;
	margin: 0
}

table {
	width: 600px;
	margin: 50px auto;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 4px 20px;
	text-align: center;
}



/* tr:nth-child(odd) {
	background: aqua;
}

tr:nth-child(even) {
	background: orange;
}

tr:first-child {
	background: sienna;
}

tr:last-child {
	background: gold;
}

tr:nth-child(5) {
	background: red;
}

tr:nth-child(5n + 1) {
	background: yellow;
}

tr:not(:last-child){
	font-weight: bold;
	font-style: italic;
} */

tr:first-of-type{
	background: sienna;
}

tr:last-of-type{
	background: gold;
}

tr:nth-of-type(5){
	background: red;
}

h2:last-child{
	color: blue;
}

h2:last-of-type{
	color: red;
}